body{
    background-size: contain;
}

h1{
    color:bisque;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    position: sticky;
    top:0;
    margin: 0;
}

#show_sketch{
    float:right;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 5px 5px 10px rgb(222, 138, 213);}
    50%{box-shadow: -5px -5px 10px rgb(236, 160, 160);}
    to{box-shadow: 5px -5px 10px rgb(120, 165, 224);}
}

p{
    padding-top: 10px;
    font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
